<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div class="main">
        Hi, Please write your city.
        <form id="temperature" action="/weather" method="post">
            <label for="city">Enter City Name:</label>
            <input type="text" id="city" name="city" required>
            <button type="submit">Get Weather</button>
        </form>
    </div>
</body>
</html>